{#
/**
 * 元素为：element
 * -element.yunkeCaptchaAsk:验证码问题元素
 * -element.yunkeCaptchaInput：验证码输入元素
 * -element.yunkeCaptchaDescription：验证码描述元素
 */
#}


<div {{ attributes }}>
    {{ element.yunkeCaptchaAsk }}
    {{ element.yunkeCaptchaInput }}
    {{ element.yunkeCaptchaDescription }}
</div>